@use "../../foundation/variable" as *;

.p-blog-details__inner{
    padding-block: 7rem 18.7rem;
    @include mq("md"){
        padding-block: 5rem 19.9rem;
    }
}


// ブログ記事
.p-blog-head__img{
    position: relative;
    aspect-ratio: 600/350;
    overflow: hidden;
    @include mq("md"){
        aspect-ratio: 335/200;
    }
}

.p-blog-head__img img{
    height: 100%;
    object-fit: cover;
}

.p-blog-head__title{
    margin-top: 4.6rem;
    font-size: 2.5rem;
    line-height: calc(40/25);
    @include mq("md"){
        margin-top: 3rem;
        font-size: 2rem;
        line-height: calc(30/20);
    }
}

.p-blog-head__time{
    margin-top: 0.5rem;
}

.p-blog-head__sns{
    margin-top: 2.1rem;
    display: flex;
    column-gap: 0.4rem;
    @include mq("md"){
        margin-top: 2.2rem;
        column-gap: 0.2rem;
    }
}

.p-sns__item{
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    color: $white;
    // @include mq("md"){
    //     flex: 1;
    // }
}

.p-sns__facebook{
    width: 10.5rem;
    background-color: #425893;
    @include mq("md"){
        width: 6.5rem;
    }
}

.p-facebook__icon{
    width: 1.118rem;
}

.p-sns__twitter{
    width: 8.8rem;
    background-color: #4A9FEB;
    @include mq("md"){
        width: 6.5rem;
    }
}

.p-twitter__icon{
    width: 2.099rem;
}

.p-sns__hatena{
    width: 9.3rem;
    background-color: #4EACD5;
    @include mq("md"){
        width: 6.5rem;
    }
}

.p-hatena__icon{
    width: 1.688rem;
}

.p-sns__line{
    width: 8.1rem;
    background-color: #52B534;
    @include mq("md"){
        width: 6.5rem;
    }
}

.p-line__icon{
    width: 2.031rem;
}

.p-sns__pocket{
    width: 9.1rem;
    background-color: #DC4F5A;
    @include mq("md"){
        width: 6.5rem;
    }
}

.p-pocket__icon{
    width: 2.159rem;
}

.p-sns__name{
    font-size: 1rem;
    font-weight: $bold;
}

.p-blog-article__body{
    margin-top: 4.8rem;
    @include mq("md"){
        margin-top: 2.7rem;
    }
}

.p-blog-body__title{
    margin-block: 3.3rem 1.5rem;
    font-size: 2rem;
    line-height: calc(40/20);
    font-weight: $bold;
    @include mq("md"){
        margin-block: 3.9rem 1.7rem;
        line-height: calc(30/20);
    }
}

.p-blog-body__text{
    margin-block: 1.5rem;
}

.p-blog-body__img{
    margin-block: 1.7rem;
    width: 33.5rem;
    @include mq("md"){
        margin-block: 3.9rem 2.7rem;
    }
}

.p-show-text{
    display: none;
    @include mq("md"){
        display: inline;
    }
}

.p-blog-body__list{
    margin-block: 2.8rem;
    @include mq("md"){
        margin-block: 2.7rem;
    }
}

.p-blog-body__listitem{
    display: flex;
    align-items: flex-start;
    position: relative;
    padding-left: 1em;
}

.p-blog-body__listitem::before{
    content: "";
    display: block;
    position: absolute;
    width: 0.3rem;
    height: 0.3rem;
    top: 1.35rem;
    left: 0.75rem;
    border-radius: 50%;
    background-color: #001E63;
    @include mq("md"){
        left: 0.65rem;
    }
}

.p-blog-body__line{
    margin-block: 4rem 4.35rem;
    display: block;
    height: 0.05rem;
    background-color: $black;
    @include mq("md"){
        margin-block: 3.8rem 5.05rem;
    }
}

.p-blog-body__smalltitle{
    margin-block: 1.7rem;
    font-size: 2rem;
    line-height: calc(40/20);
    font-weight: $bold;
    padding-left: 1.05rem;
    position: relative;
    @include mq("md"){
        margin-block: 1.9rem;
        line-height: calc(30/20);
    }
}

.p-blog-body__smalltitle::before{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0.15rem;
    transform: translateY(-50%);
    width: 0.3rem;
    height: calc(100% - 2rem);
    background-color: $black;
    @include mq("md"){
        height: calc(100% - 1rem);
    }
}

.p-blog-body__blockquote{
    margin-block: 1.7rem 2.7rem;
    padding-block: 1.8rem 1rem;
    padding-inline: 3rem;
    background-color: $gray-bread;
    display: flex;
    column-gap: 1rem;
    @include mq("md"){
        margin-block: 1.9rem 2.7rem;
        padding-block: 1.7rem 1.1rem;
        padding-inline: 2.6rem 2rem;
        column-gap: 1.7rem;
    }
}

.p-blog-body__quotation{
    margin-top: 0.2rem;
    width: 2.7rem;
    display: inline-block;
    @include mq("md"){
        margin-top: 0.5rem;
    }
}

.p-blog-body__quotetext{
    flex: 1;
    @include mq("md"){
        font-size: 1.6rem;
        line-height: calc(30/16);
    }
}

.p-blog-body__linkarea{
    margin-top: 1.8rem;
}

.p-blog-body__link{
    font-size: 2rem;
    line-height: calc(33/20);
    color: $red;
    font-weight: $bold;
    text-decoration: underline;
    text-decoration-color: $red;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.2rem;
    @include mq("md"){
        text-underline-offset: 0.3rem;
    }
}


// ブログ記事ページネーション
.p-blog-details__paginations{
    margin-top: 5.4rem;
    display: flex;
    column-gap: 7.9rem;
    justify-content: space-between;
    @include mq("md"){
        margin-top: 4.5rem;
        column-gap: 2.2rem;
    }
}

.p-blog-details__pagination{
    width: 26rem;
    @include mq("md"){
        width: calc(100% * 156/335);
    }
    @include mq("sp"){
        width: 15.6rem;
    }
}

.p-pagination__prev{
    min-height: 3.7rem;
    padding-inline: 2rem;
    padding-block: 0.3rem;
    font-size: 1.7rem;
    color: white;
    background-color: $black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.p-pagination__next{
    justify-content: flex-end;
}

.p-pagination__titlearea{
    margin-top: 1.6rem;
    display: flex;
    column-gap: 1.6rem;
}

.p-pagination__img{
    width: 9.8rem;
    overflow: hidden;
}

.p-pagination__img img{
    aspect-ratio: 98 / 68;
    object-fit: cover;
}

.p-pagination__textarea{
    flex: 1;
}

.p-pagination__title{
    font-size: 1.6rem;
    line-height: calc(25/16);
    font-weight: $bold;
    color: $black;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}


// 関連記事
.p-blog-details__related{
    margin-top: 9.3rem;
    @include mq("md"){
        margin-top: 6.3rem;
    }
}

.p-related__title{
    padding-inline: 3rem;
    padding-block: 0.5rem;
    min-height: 5rem;
    font-size: 1.8rem;
    font-weight: $bold;
    color: $white;
    display: flex;
    align-items: center;
    background-color: $black;
    @include mq("md"){
        justify-content: center;
    }
}

.p-related__list{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    @include mq("md"){
        margin-top: 2rem;
        row-gap: 2rem
    }
}

.p-related-item__link{
    display: flex;
    column-gap: 3rem;
    @include mq("md"){
        column-gap: 2rem;
    }
}

.p-related-item__img{
    position: relative;
    width: 20rem;
    aspect-ratio: 200/140;
    overflow: hidden;
    @include mq("md"){
        aspect-ratio: 160/110;
        width: 16rem;
    }
}

.p-related-item__img img{
    height: 100%;
    object-fit: cover;
}

.p-related-item__tag{
    min-width: 8rem;
}

.p-related-item__textarea{
    flex: 1;
}

.p-related-item__title{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    @include mq("md"){
        margin-top: 0.8rem;
        font-size: 1.7rem;
        line-height: calc(28/17);
    }
}

.p-related-item__time{
    margin-top: 1.3rem;
    margin-left: 0.5rem;
    @include mq("md"){
        margin-top: 0.5rem;
        margin-left: 0;
    }
}


// サイドバーエリア
.p-sidebar-section__title{
    min-height: 5rem;
    background-color: $black;
    color: $white;
    font-size: 1.8rem;
    font-weight: $bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.p-sidebar-magazine__contents{
    border: 0.5px solid $black;
    border-top: none;
    padding-block: 1.5rem 1.45rem;
    padding-inline: 1.45rem;
    @include mq("md"){
        padding-block: 1.9rem 1.95rem;
        padding-inline: 1.95rem;
    }
}

.p-sidebar-magazine__link{
    position: relative;
    display: block;
    overflow: hidden;
    aspect-ratio: 220/170;
    @include mq("md"){
        aspect-ratio: 295/228;
    }
}

.p-sidebar-magazine__link img{
    height: 100%;
    object-fit: cover;
}

.p-sidebar-magazine__text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    line-height: calc(33/18);
    color: $black;
}

.p-sidebar-search__contents{
    border: 0.5px solid $black;
    border-top: none;
    padding-block: 1.5rem 1.55rem;
    padding-inline: 1.45rem;
    @include mq("md"){
        padding-block: 1.95rem 2rem;
        padding-inline: 1.95rem;
    }
}

.p-sidebar-search__form{
    display: flex;
    height: 4rem;
    @include mq("md"){
        height: 5.4rem;
    }
}

.p-sidebar-search__input{
    width: 18rem;
    background-color: $gray-bread;
    font-size: 1.8rem;
    padding-inline: 0.8rem;
    @include mq("md"){
        flex: 1;
        width: 24.1rem;
    }
}

.p-sidebar-search__button{
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $black;
    transition: opacity 0.3s;
    @include mq("md"){
        width: 5.4rem;
    }
}

@media (hover: hover){
    .p-sidebar-search__button:hover{
        opacity: 0.7;
    }
}

.p-sidebar-search__button span{
    display: inline-block;
    width: 2rem;
    @include mq("md"){
        width: 2.9rem;
    }
}

.p-sidebar-recommend__list{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    @include mq("md"){
        margin-top: 2rem;
        row-gap: 2rem;
    }
}

.p-recommend-item__link{
    display: flex;
    column-gap: 1.5rem;
    @include mq("md"){
        column-gap: 2rem;
    }
}

.p-recommend-item__img{
    width: 9.5rem;
    aspect-ratio: 95/75;
    overflow: hidden;
    @include mq("md"){
        width: 16rem;
        aspect-ratio: 160/110;
    }
}

.p-recommend-item__img img{
    height: 100%;
    object-fit: cover;
}

.p-recommend-item__titlearea{
    flex: 1;
    @include mq("md"){
        margin-top: 0.8rem;
    }
}

.p-recommend-item__title{
    font-size: 1.7rem;
    line-height: calc(28/17);
    color: $black;
    font-weight: $medium;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.p-sidebar-category__item{
    border-bottom: 0.5px solid $black;
}

.p-category-item__link{
    min-height: 4.65rem;
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    padding-block: 0.5rem;
    color: $black;
}