@use "../../foundation/variable" as *;

.p-search-list{
    padding-block: 6.6rem 21rem;
    @include mq("md"){
        padding-block: 3.6rem 20.3rem;
    }
}

.p-search-list__items{
    margin-top: 4rem;
    @include mq("md"){
        margin-top: 4.2rem;
    }
}


.p-search-list__results{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    column-gap: 1.5rem;
    flex-wrap: wrap;
}

.p-search-list__title{
    font-size: 1.8rem;
    line-height: calc(30/18);
    font-weight: $medium;
    flex: 1;
}

.p-search-list__keyword{
    font-weight: $bold;
}