@use "../../foundation/variable" as *;

.p-top-flow{
    padding-block: 3.4rem 6.4rem;
    @include mq("md"){
        padding-block: 4.6rem 2rem;
    }
}

.p-top-flow__list{
    position: relative;
    margin-top: 5.3rem;
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    row-gap: 5.8rem;
    @include mq("md"){
        margin-top: 3.6rem;
        margin-left: 0.8rem;
        row-gap: 3.6rem;
    }
}

.p-top-flow__list::before{
    content: "";
    top: 1.65rem;
    left: 1rem;
    transform: translateX(-50%);
    display: block;
    position: absolute;
    width: 0.3rem;
    height: 100%;
    background-color: $red;
    @include mq("md"){
        height: calc(100% - 2.65rem);
    }
}

.p-top-flow__item{
    display: flex;
    align-items: flex-start;
    column-gap: 3rem;
    position: relative;
    @include mq("md"){
        flex-direction: column;
        row-gap: 0.9rem;
    }
}

.p-top-flow__item:last-child::before,
.p-top-flow__item:last-child::after{
    content: "";
    bottom: -0.1rem;
    left: 0%;
    transform-origin: left center;
    display: block;
    position: absolute;
    width: 2.6rem;
    height: 0.3rem;
    background-color: $red;
    border-top-left-radius: 1.5px;
    border-bottom-left-radius: 1.5px;
    @include mq("md"){
        bottom: 2.5rem;
    }
}

.p-top-flow__item:last-child::before{
    transform: translateX(-28%) rotate(45deg);
}

.p-top-flow__item:last-child::after{
    transform: translateX(106%) rotate(135deg);
}

.p-flow-item__title{
    width: 23.2rem;
    font-size: 2.2rem;
    line-height: calc(33/22);
    font-weight: $bold;
    color: $red;
    display: flex;
    align-items: center;
    @include mq("md"){
        width: 100%;
    }
}

.p-flow-item__circle{
    margin-right: 5rem;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: $red;
    @include mq("md"){
        margin-right: 2rem;
    }
}

.p-flow-item__name{
    flex: 1;
}

.p-flow-item__text{
    flex: 1;
    @include mq("md"){
        margin-left: 4rem;
        font-size: 1.6rem;
        line-height: calc(30/16);
    }
}

